* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family:"Roboto", Arial, sans-serif, helvetica;
}

header {
	width: 100%;
	background: #269DA3; /* Old browsers */
	/*
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f0ef 100%); 
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f0ef 100%); 
	background: linear-gradient(to bottom, #ffffff 0%,#f2f0ef 100%); E
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f0ef',GradientType=0 );
	*/
}

header #subheader {
	width: 1100px;
	margin: auto;
}

header #subheader ul li i:hover{
	color: #fff;
}

.wrap {
	width: 90%;
	max-width: 500px;
	margin: auto;
}

h1{
	font-family: 'Open Sans', sans-serif;
}

/* --- menu2 --- */

nav ul {
	list-style: none;
}

#logotipo {
	float: left;
}

#menu2{
		font-family: 'Open Sans', sans-serif;
		float: right;
}

#menu2 > ul {
    display:table;
    width:100%;
    /*
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f0ef 100%); 
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f0ef 100%); 
	background: linear-gradient(to bottom, #ffffff 0%,#f2f0ef 100%); E
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f0ef',GradientType=0 ); 
    position: relative;
    border-radius: 3px;
    */
}

#menu2 > ul li {
	display: table-cell;
}

/*Sub-menu*/

#menu2 > ul > li:hover > ul {
	display: block;
} 

#menu2 > ul > li > ul {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	width: 1100px;
	margin: auto;
}

#menu2 > ul > li > ul {
	display: none;
}

#menu2 > ul li a {
	color: #fff;
	display: block;
	line-height: 20px;
	padding: 15px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	font-size: 17px;
}

#menu2 > ul > li > ul > li a{
	background: white;
}

#menu2 > ul > li > ul > li a:hover {
	background: #0A0D4E;
	color: white;
	font-size: 12px;
	border-radius: 3px;
}

#menu2 > ul > li > ul{
	margin-right: 50px;
}


#menu2 > ul > li > ul > li a{
	font-size: 12px;
}

#menu2 > ul > li a span {
	background: #0A0D4E;
	border-radius: 3px;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -46px;
	height: 0%;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

#menu2 > ul > li a span:hover {
	height: 100%;
}

#menu2 > ul > li a span .fa {
	display: block;
	line-height: 50px;
	color: white;
}

#menu2 > ul > li a:hover > span {
	top: 0;	
}

#menu2 > ul > li a .uno{
	background: #E36D0B; 
}

#menu2 > ul > li a .dos{
	background: #0A0D4E;
}

#menu2 > ul > li a .tres{
	background: #086A87;
}

#menu2 > ul > li a .cuatro{
	background: #045FB4;
}

#menu2 > ul > li a .cinco{
	background: #0489B1;
}

#menu2 > ul > li a .seis{
	background: #0A0D4E;
}

#menu2 > ul > li a .siete{
	background: #B3AEA9;
}

/* --- form --- */

form {
	width: 100%;
	margin: 20px 0;
	padding: 20px;
	background: #000;
	overflow: hidden;
	box-shadow: 0 0 3px grey;
	border-top:4px solid #269DA3;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form textarea {
	border: 1px solid #0A106C;
	border-radius: 2px;
	padding: 16px;
	width: 100%;
	display: block;
	margin-bottom:20px;
	font-family:"Roboto", Arial, sans-serif, helvetica;
	font-size: 1em;
	color:#141938;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="tel"]:focus,
form textarea:focus{
	border: 2px solid #3F51B5;
	padding: 15px;
}

form textarea {
	max-width: 100%;
	min-width: 100%;
	max-height: 300px;
	min-height: 150px;
}

.alert {
	padding: 1em;
	color:#fff;
	border-radius: 2px;
	margin-bottom: 20px;
	font-size: 14px;
}

.alert.error {
	background: #F2DEDE;
	border:1px solid #a94442;
	color: #a94442;
}

.alert.success {
	background: #4CAF50;
}

.btn,
form input[type="submit"]{
	padding: 15px;
	background: #269DA3;
	color:#E1E9FA;
	font-size: 1em;
	font-family:"Roboto", Arial, sans-serif, helvetica;
	border-radius: 2px;
	border:none;
	cursor: pointer;
	margin-left: 190px;
}

.submit-btn {
	padding: 15px;
	text-align: right;
	width: 48px;
	max-height: 48px
	font-size: 18px;
	line-height: 18px;
	background: #679863;
	display: inline-block;
	color:#fff;
	background: #269DA3;
	cursor: pointer;

	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
.cuenta {
	text-align: center;
	font-size: 18px;
}
form input[type="submit"]:hover{
	background: #21727A;
}

/* --- FOOTER --- */

footer{
	background: #269DA3;
	padding-bottom: 80px;
	padding-top: 40px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

footer #foo{
	width: 1100px;
	margin: auto;
}

footer p{
	text-align: right;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;

	padding-left: 370px;
}

footer #menu1 a{
	color: #fff,
}

footer #logo {
	float: left;
	padding-top: 0;
}