* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family:"Roboto", Arial, sans-serif, helvetica;
}

header {
	width: 100%;
	background: #269DA3; /* Old browsers */
	/*
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f0ef 100%); 
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f0ef 100%); 
	background: linear-gradient(to bottom, #ffffff 0%,#f2f0ef 100%); E
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f0ef',GradientType=0 );
	*/
}

#container{
 clear:both;
 float:left;
 overflow:hidden;
 width:100%;

}


#feed {
	padding: 0;
	margin: 0;
}

#link{
	text-decoration: none;
	color: #000;
}

img{
	padding: 5px;
}

#feed li{
	display: inline;
	float: left;
}

header #subheader {
	width: 1100px;
	margin: auto;
}

header #subheader ul li i:hover{
	color: #fff;
}

.wrap {
	width: 90%;
	max-width: 500px;
	margin: auto;
}

h1{
	font-family: 'Open Sans', sans-serif;
}

/* --- menu2 --- */

nav ul {
	list-style: none;
}

#logotipo {
	float: left;
}

#menu2{
		font-family: 'Open Sans', sans-serif;
		float: right;
}

#menu2 > ul {
    display:table;
    width:100%;
    /*
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f0ef 100%); 
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f0ef 100%); 
	background: linear-gradient(to bottom, #ffffff 0%,#f2f0ef 100%); E
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f0ef',GradientType=0 ); 
    position: relative;
    border-radius: 3px;
    */
}

#menu2 > ul li {
	display: table-cell;
}

/*Sub-menu*/

#menu2 > ul > li:hover > ul {
	display: block;
} 

#menu2 > ul > li > ul {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	width: 1100px;
	margin: auto;
}

#menu2 > ul > li > ul {
	display: none;
}

#menu2 > ul li a {
	color: #fff;
	display: block;
	line-height: 20px;
	padding: 15px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	font-size: 17px;
}

#menu2 > ul > li > ul > li a{
	background: white;
}

#menu2 > ul > li > ul > li a:hover {
	background: #0A0D4E;
	color: white;
	font-size: 12px;
	border-radius: 3px;
}

#menu2 > ul > li > ul{
	margin-right: 50px;
}


#menu2 > ul > li > ul > li a{
	font-size: 12px;
}

#menu2 > ul > li a span {
	background: #0A0D4E;
	border-radius: 3px;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -46px;
	height: 0%;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

#menu2 > ul > li a span:hover {
	height: 100%;
}

#menu2 > ul > li a span .fa {
	display: block;
	line-height: 50px;
	color: white;
}

#menu2 > ul > li a:hover > span {
	top: 0;	
}

#menu2 > ul > li a .uno{
	background: #E36D0B; 
}

#menu2 > ul > li a .dos{
	background: #0A0D4E;
}

#menu2 > ul > li a .tres{
	background: #086A87;
}

#menu2 > ul > li a .cuatro{
	background: #045FB4;
}

#menu2 > ul > li a .cinco{
	background: #0489B1;
}

#menu2 > ul > li a .seis{
	background: #0A0D4E;
}

#menu2 > ul > li a .siete{
	background: #B3AEA9;
}

/* --- INFO --- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.recipe-card {
  background: #269DA3;
  margin: 4em auto;
  width: 90%;
  max-width: 496px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.recipe-card aside {
  position: relative;
}
.recipe-card aside img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.recipe-card aside .button {
  background: #57abf2;
  display: inline-block;
  position: absolute;
  top: 80%;
  right: 3%;
  width: 8.0625em;
  height: 4.0625em;
  border-radius: 10px;
  line-height: 4.0625em;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.recipe-card aside .button .icon {
  vertical-align: middle;
}
.recipe-card article {
  padding: 1.25em 1.5em;
}
.recipe-card article ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0;
}
.recipe-card article ul li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}
.recipe-card article ul li:first-child {
  margin-left: 0;
}
.recipe-card article ul li .icon {
  vertical-align: bottom;
}
.recipe-card article ul li span:nth-of-type(2) {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
  vertical-align: middle;
  color: #fff;
}
.recipe-card article h2, .recipe-card article h3 {
  margin: 0;
  font-weight: 300;
}
.recipe-card article h2 {
  font-size: 1.75em;
  color: #fff;
}
.recipe-card article h3 {
  font-size: 0.9375em;
  color: #fff;
}
.recipe-card article p {
  margin: 1.25em 0;
  font-size: 0.8125em;
  font-weight: 400;
  color: #fff;
}
.recipe-card article p span {
  font-weight: 700;
  color: #fff;
}
.recipe-card article .ingredients {
  margin: 2em 0 0.5em;
}
.recipe-card .icon {
  display: inline;
  display: inline-block;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/recipe-card-icons.svg);
  background-repeat: no-repeat;
}
.recipe-card .icon-calories, .recipe-card .icon-calories\:regular {
  background-position: 0 0;
  width: 16px;
  height: 19px;
}
.recipe-card .icon-clock, .recipe-card .icon-clock\:regular {
  background-position: 0 -19px;
  width: 20px;
  height: 20px;
}
.recipe-card .icon-level, .recipe-card .icon-level\:regular {
  background-position: 0 -39px;
  width: 16px;
  height: 19px;
}
.recipe-card .icon-play, .recipe-card .icon-play\:regular {
  background-position: 0 -58px;
  width: 21px;
  height: 26px;
}
.recipe-card .icon-users, .recipe-card .icon-users\:regular {
  background-position: 0 -84px;
  width: 18px;
  height: 18px;
}


/* --- POPUP --- */

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 15px;
  color: #fff;
  border: 2px solid #269DA3;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #269DA3
}
.button:hover {
  background: #269DA3;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/* --- FOOTER --- */

footer{
	background: #269DA3;
	padding-bottom: 80px;
	padding-top: 40px;

}

footer #foo{
	width: 1100px;
	margin: auto;
	
}

footer p{
	text-align: right;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding-left: 370px;
}

footer #menu1 a{
	color: #fff,
}

footer #logo {
	float: left;
	padding-top: 0;
}